<h1>Sign In</h1>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 well">
      <p class="text-info center">Username is case sensitive</p>
      <div class="center">
        <%= form_for(:session, url: sessions_path) do |f| %>

          <%= f.label :name %><br>
          <%= f.text_field :name %>
          <br>
          <%= f.label :password %><br>
          <%= f.password_field :password %>
          <br><br>
          <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
        <% end %>

        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    </div>
  </div>
</div>