<h1 class="text-primary"><%= @user.name %>'s Movies</h1>
<br>
<%= link_to '<button type="button" class="btn btn-success">Add New Movie</button>'.html_safe, new_movie_path %>

<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Downloaded?</th>
          <th>Watched?</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <%= render 'table_body' %>
    </table>
  </div>
</div>
<%= link_to '<button type="button" class="btn btn-info">Wishlist</button>'.html_safe, wishlists_path %>
<%= link_to '<button type="button" class="btn btn-info">Find a Movie for Movie Night</button>'.html_safe, movienight_path %>