<div class="center">
	<h1>Hello <%= @user.name %>!</h1>
	<h4>You currently have <%= pluralize(@movies.count, 'movie') %> in your library,<br><%= pluralize(@wishlist_movies.count, 'movie') %>  in your wishlist,<br>and <%= pluralize(@movienight_movies.count, 'unwatched movie') %>.</h4><br>

	<%= link_to '<button type="button" class="btn btn-warning">Return to All Movies</button>'.html_safe, movies_path %>
</div>